body {
    text-align: center;
    background: linear-gradient(to top right, #ff0101, #07317e);
    background-attachment: fixed;
}

#conteiner {
    background: linear-gradient(to top right, #00000000, #00000015, #00000054);
    width: 50%;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

input {
    width: 100px;
}